.deps/
Makefile
Makefile.in
aclocal.m4
ap_include.am
autom4te.cache/
config.log
config.status
configure
install-sh
missing
modes/
tat-eng.autobil.bin
tat-eng.autogen.bin
tat-eng.autolex.bin
tat-eng.automorf.bin
tat-eng.autopgen.bin
tat-eng.prob
tat-eng.rlx.bin
tat-eng.t1x.bin
tat-eng.t2x.bin
tat-eng.t3x.bin
